{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'polls/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cfaa32891d.js" crossorigin="anonymous"></script>
    <title>PoolParty</title>
</head>
<body>
    <nav id="opac" class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="opac2" class="container-fluid">
          <a class="navbar-brand" href="#">CannaSayCrew</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/polls/">PoolParty</a>
              </li>
              {% if user.is_authenticated == True %}
              <li class="nav-item">
                <a class="nav-link" href="buy">Buy</a>
              </li>
              {% elif user.is_authenticated == False%}
              <li class="nav-item">
                <a class="nav-link" href="signup">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="signin">Sign in</a>
              </li>
            
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="media">Media</a></li>
                  <li><a class="dropdown-item" href="#">About</a></li>
                </ul>
                <li class="nav-item">
                <a class="nav-link ms-auto" href="login">{{ user.get_username }}</a>
              </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link ms-auto" href="logout">Logout</a>
                  </li>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
      <footer id="foo" class="navbar fixed-bottom ">
        <!-- Grid container -->
        <div class="container">
          <!-- Section: Social media -->
          <section class="mb-0">
            <!-- Facebook -->
            <!-- <a class="btn btn-outline-light" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a> -->
      
            <!-- Twitter -->
            <a class="btn btn-outline-light" href="https://t.me/joinchat/NWlSUZnwraMzNjUy" role="button"
              ><i class="fab fa-telegram"></i
            ></a>
      
            <!-- Google -->
            <a class="btn btn-outline-light" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light" href="https://www.instagram.com/tussowkasbasseynom/?hl=ru" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <!-- <a class="btn btn-outline-light" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a> -->
      
            <!-- Github -->
            <a class="btn btn-outline-light" href="https://web.telegram.org/#/im?p=@poolparty_bot" role="button"
              ><i class="fas fa-robot"></i
            ></a>
            © 2021 Copyright:
            <a class="text-white" href="https://www.instagram.com/nnnocturn/?hl=ru">nnnocturn</a>
          </section>
          <!-- Section: Social media -->
        </div>
      </footer>
        <!-- Core theme JS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>