{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link type="text/css" rel="stylesheet" href="{% static 'polls/css/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cfaa32891d.js" crossorigin="anonymous"></script>
</style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto p-0">
                <div class="card">
                    <form method="POST" class="box">
                        <h1>Sign Up</h1>
                        {% csrf_token %}
                        <p class="text-muted"> Please enter your login, email and password!</p> <input type="text" name="user" placeholder="Username"><input type="email" name="email" placeholder="Email"><input type="password" name="pass1" placeholder="Password"><input type="password" name="pass2" placeholder="re-password"> <a class="forgot text-muted" href="signin">Alredy have account?</a></br>
                        <input type="submit" name="" value="Sign Up" href="signup">
                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a href="/polls/" class="back" title="back"><i class="fas fa-arrow-circle-left"></a></i>
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>